<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.flya.system.mapper.PzcUserTalkMapper">

    <resultMap type="top.flya.system.domain.PzcUserTalk" id="PzcUserTalkResult">
        <result property="talkId" column="talk_id"/>
        <result property="fromUserId" column="from_user_id"/>
        <result property="toUserId" column="to_user_id"/>
        <result property="message" column="message"/>
        <result property="messageStatus" column="message_status"/>
        <result property="messageType" column="message_type"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>


</mapper>
